
@model MyHealth.Models.ScoreCard

@{
    ViewBag.Title = "_Scores";
}

<body>
    <div class="row">
        <div class="col">
            Average Score: @Model.DayScore
            <br />Best Day:
        </div>
        <div class="col">
            Week Average:
            <br />Best Week:
        </div>
        <div class="col">
            Total Score:
        </div>

    </div>
</body>
   
